 body {

  background: black;

 color:red;

 text-align: center;

}

 button {

 color: Grey;

 background: black;

 padding: 10px;

 font-size: 10px;

}

 .programação {

 position: relative;

 top: 180px; 

}

 .botão1 {

 position: relative;

 top: 120px;

}

 .botão2 {

 position: relative;


 top: 30px;

}

